.list{
    margin: 10px 5px;
    
}
.list__header{
    margin-top: 15px;
}
.list__header h4{
    font-weight: 400;
    font-family: inherit;
}

.list .list__box{
    margin-top: 10px;
    height: 200px;
    overflow-y: scroll;
}

.filter{
    width: 100%;
    margin-top: 15px;
}
.filter input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #121212;
    border-radius: 5px;
    color: #fff;
}

.list__item{
    background-color: #242323;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
